body {
  font-family: Arial, sans-serif;
  background-color: #f6abab;
  margin: 0;
  padding: 30px 0 20px 0;
}

#header-content h1 {
  font-size: 2.5rem;
  text-align: center;
}

#header-content p {
  font-size: 1rem;
  text-align: center;
}

#container {
  background-color: #0000005c;
  max-width: 800px;
  margin: 20px auto;
  padding: 50px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}

label {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 20px;
}
